@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  background: #000;
}

body.noscroll {
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  br {
    display: none;
  }
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 100%;
  max-width: 1440px; /* раніше могло бути 1440px — зменшено для кращої адаптивності */
  margin: 0 auto;
  padding-left: clamp(16px, 5vw, 64px);
  padding-right: clamp(16px, 5vw, 64px);
  box-sizing: border-box;
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0px 16px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 16px 0px;
  border-bottom: 1px solid #262626;
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
}
@media screen and (max-width: 480px) {
  .header {
    padding: 24px 0 16px 0;
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 998;
}

.menu-overlay.active {
  opacity: 1;
  visibility: visible;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; /* Додано */
}

.header-logo-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .header-logo-mobile {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .header-logo {
    display: none;
  }
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: clamp(8px, 2vw, 26px);
}

.header-link {
  position: relative;
  color: var(--neutral-grey-dark, #A1A1A1);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  text-decoration: none;
  transition: all 400ms ease-in-out;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: #00DE9D; /* колір світіння */
  filter: blur(12px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.header-link:hover {
  color: #F2F2F2; /* білий текст */
}

.header-link:hover::after {
  opacity: 0.7; /* показуємо glow */
}

.header-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 24px;
  color: var(--neutral-white, #F2F2F2);
  /* buttons */
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  background: none;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid var(--neutral-grey-border, #262626);
  transition: ease-in-out 400ms all;
}
@media screen and (max-width: 480px) {
  .header-button {
    display: none;
  }
}

.header-button-icon {
  display: flex;
  position: relative;
}

.header-button-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: #00DE9D; /* колір світіння */
  filter: blur(12px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.header-button:hover .header-button-icon::after {
  opacity: 0.7;
}

.header-button:hover {
  border: 1px solid transparent;
}

.header-button:active {
  border: 1px solid #00DE9D;
  background: var(--primary-brand-mint, #00DE9D);
  color: #000;
}

.header-button-icon svg path {
  transition: stroke 400ms ease; /* плавна зміна кольору */
}

.header-button:active .header-button-icon svg path {
  stroke: #000;
}

body.menu-open {
  overflow: hidden;
}

.burger {
  display: none;
}

.burger-close {
  display: none;
}

@media screen and (max-width: 480px) {
  .header-inner {
    position: relative;
    justify-content: space-between;
  }
  .burger {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 40px;
    height: 40px;
    padding: 8px;
    cursor: pointer;
  }
  .burger-close {
    display: flex;
    position: absolute;
    top: 26px;
    right: 24px;
    background: none;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1002;
  }
  .header-menu {
    border-radius: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: unset;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    background: #000;
    z-index: 1000;
    padding-top: 100px;
    transition: all 0.3s ease;
  }
  .open {
    display: flex !important;
  }
  .header-link {
    margin: 0 0 45px 0;
    text-decoration: none;
  }
  .header-buttons {
    display: none;
  }
}
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Вікно */
.popup {
  background: #0D0D0D;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-radius: 20px;
  position: relative;
  -webkit-animation: fadeIn 0.3s ease;
          animation: fadeIn 0.3s ease;
}
@media screen and (max-width: 480px) {
  .popup {
    padding: 16px;
    width: 100%;
    height: 96vh;
  }
}

.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 60px;
}

.popup h3 {
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  /* h2 */
  font-family: "DM Sans";
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.popup p {
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  /* h3 */
  font-family: "Manrope";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 39.2px */
}

.grey {
  color: var(--neutral-grey-title, #656565);
}

/* Форма */
.popup-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 32px;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .popup-form {
    width: 100%;
  }
}

.popup-form input {
  border: 0px;
  border-bottom: 1px solid #656565;
  padding: 8px 0;
  color: #4E4E4E;
  background: none;
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */
  outline: none;
  width: 100%;
  resize: none;
}

.popup-form textarea {
  border: 0px;
  border-bottom: 1px solid #656565;
  padding: 0;
  color: #4E4E4E;
  background: none;
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */
  outline: none;
  width: 100%;
  resize: none;
}

/* Кнопка */
.popup-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary-brand-violet, #49009E);
  /* buttons */
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  width: 100%;
  border-radius: 100px;
  background: var(--neutral-white, #F2F2F2);
  border: none;
  padding: 16px 32px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
@media screen and (max-width: 480px) {
  .popup-form button {
    width: 100%;
  }
}

.popup-form button:hover {
  background: #00DE9D;
  color: #000;
}

.popup-form button:hover svg path {
  stroke: #000;
}

.popup-form button:active {
  background: #F2F2F2;
  color: #49009E;
}

.popup-form button:active svg path {
  stroke: #49009E;
}

.email {
  color: var(--primary-brand-mint, #00DE9D) !important;
  text-align: center;
  /* h3 */
  font-family: "Manrope";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 39.2px */
}

/* Закрити */
.close-popup {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 32px;
  cursor: pointer;
  color: #5C5A5B;
}

/* Показати */
.popup-overlay.active {
  display: flex;
}

@-webkit-keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.message-popup-title {
  color: var(--primary-300, #3C3232);
  text-align: center;
  font-family: "Open Sans";
  font-size: clamp(30px, 2vw, 36px);
  font-style: normal;
  font-weight: 700;
  line-height: 1; /* 36px */
  text-transform: uppercase;
  margin-bottom: 48px;
  z-index: 10;
}

.message-popup-text {
  color: var(--primary-200, #4C4648);
  text-align: center;
  /* h2-medium */
  font-family: "Nunito Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 33px */
  z-index: 10;
}

.message-bg {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
}

.hero {
  margin-top: 60px;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .hero {
    height: 80vh;
  }
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -3;
}
@media screen and (max-width: 480px) {
  .hero-bg {
    display: none;
  }
}

.hero-bg-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .hero-bg-mobile {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -3;
  }
}

.hero-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hero-title {
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  /* H1 */
  font-family: "DM Sans";
  font-size: clamp(40px, 5vw, 88px);
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 79.2px */
}

.hero-text {
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  /* h3-semibold */
  font-family: "Manrope";
  font-size: clamp(24px, 2vw, 28px);
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 39.2px */
  max-width: 866px;
  width: 100%;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary-brand-violet, #49009E);
  /* buttons */
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  border-radius: 100px;
  background: var(--neutral-white, #F2F2F2);
  border: none;
  padding: 16px 32px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
@media screen and (max-width: 480px) {
  .hero-btn {
    width: 100%;
  }
}

.hero-btn:hover {
  background: #00DE9D;
  color: #000;
}

.hero-btn:hover svg path {
  stroke: #000;
}

.hero-btn:active {
  background: #F2F2F2;
  color: #49009E;
}

.hero-btn:active svg path {
  stroke: #49009E;
}

.hero-title,
.hero-text,
.hero-btn {
  opacity: 0;
  transform: translateY(20px); /* трошки знизу */
  transition: all 0.6s ease;
}

/* Клас, який активує анімацію */
.show {
  opacity: 1;
  transform: translateY(0);
}

.pay {
  position: relative;
  margin-top: 150px;
  padding-top: 90px;
}
@media screen and (max-width: 480px) {
  .pay {
    margin-top: unset;
    padding-top: unset;
  }
}

.pay-overlay {
  position: absolute;
  z-index: -2;
  top: -270px;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.pay-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pay-title {
  color: #F2F2F2;
  text-align: center;
  /* h2 */
  font-family: "DM Sans";
  font-size: clamp(40px, 4vw, 56px);
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 61.6px */
}

.pay-suptitle {
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  padding: 24px 0;
  /* h3 */
  font-family: "Manrope";
  font-size: clamp(24px, 2vw, 28px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 39.2px */
  border: 0px;
  border-bottom: 1px solid #262626;
  max-width: 866px;
  width: 100%;
}

.pay-text {
  max-width: 866px;
  width: 100%;
  color: var(--neutral-grey-dark, #A1A1A1);
  text-align: center;
  /* body */
  font-family: "Manrope";
  font-size: clamp(20px, 2vw, 22px);
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}

.marquee {
  margin-top: clamp(120px, 10vw, 260px);
  overflow: hidden;
  white-space: nowrap;
}

.marquee-inner {
  display: inline-block;
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
}

.marquee-inner span {
  display: inline-block;
  padding-right: 50px; /* відступ між повтореннями */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #414141;
  font-family: "DM Sans";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 79.2px */
  letter-spacing: 0.144px;
}

.marquee-inner strong {
  -webkit-text-stroke-color: var(--primary-brand-mint, #00DE9D);
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.mission {
  margin-top: clamp(120px, 10vw, 260px);
}

.mission-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.mission-title {
  color: #F2F2F2;
  text-align: center;
  /* h2 */
  font-family: "DM Sans";
  font-size: clamp(40px, 4vw, 56px);
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 61.6px */
}

.mission-suptitle {
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  padding: 24px 0;
  /* h3 */
  font-family: "Manrope";
  font-size: clamp(24px, 2vw, 28px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 39.2px */
  border: 0px;
  border-bottom: 1px solid #262626;
  max-width: 866px;
  width: 100%;
}

.mission-text {
  max-width: 866px;
  width: 100%;
  color: var(--neutral-grey-dark, #A1A1A1);
  text-align: center;
  /* body */
  font-family: "Manrope";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}

.why {
  position: relative;
  margin-top: clamp(120px, 8vw, 170px);
  padding-top: 90px;
}

.why-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (max-width: 480px) {
  .why-bg {
    display: none;
  }
}

.why-bg-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .why-bg-mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.why-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.why-title {
  color: var(--neutral-grey-title, #f2f2f2);
  text-align: center;
  /* h2 */
  font-family: "DM Sans";
  font-size: clamp(40px, 4vw, 56px);
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 61.6px */
}

.why-text {
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  /* h3 */
  font-family: "Manrope";
  font-size: clamp(24px, 2vw, 28px);
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 39.2px */
}

.why-list {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
@media screen and (max-width: 480px) {
  .why-list {
    flex-direction: column;
    gap: 24px;
  }
}

.why-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px 70px 24px;
  border-radius: 16px;
  border: 1px solid var(--neutral-grey-border, #262626);
  background: var(--neutral-card, #0D0D0D);
  transition: all 400ms ease-in-out;
  overflow: hidden;
  width: 23%;
}
@media screen and (max-width: 480px) {
  .why-item {
    width: 100%;
    align-items: flex-start;
  }
}

.why-item:hover {
  background: #00DE9D;
  border: 1px solid #00DE9D;
}

.why-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .why-mobile {
    display: block;
    margin-bottom: 24px;
  }
}

.why-item-block {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 32px;
}
@media screen and (max-width: 480px) {
  .why-item-block {
    margin-bottom: 120px;
  }
}

.why-item-num {
  position: absolute;
  left: 0;
  top: 16px;
  padding-left: 22px;
  color: var(--neutral-grey-title, #656565);
  text-align: center;
  font-family: "Manrope";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 28px */
  background: var(--neutral-card, #0D0D0D);
  transition: all 400ms ease-in-out;
  z-index: 5;
}
@media screen and (max-width: 480px) {
  .why-item-num {
    position: static;
    padding: unset;
  }
}

.why-item:hover .why-item-num {
  color: #000;
  background: #00DE9D;
}

.why-item-title {
  color: var(--neutral-surface, #000);
  text-align: center;
  font-family: "Manrope";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
  transform: translateX(-100px);
  transition: all 900ms ease-in-out;
  z-index: 2;
}
@media screen and (max-width: 480px) {
  .why-item-title {
    transform: unset;
    color: #fff;
  }
}

.why-item:hover .why-item-title {
  transform: translateX(35px);
}

.why-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 900ms ease-in-out;
}
@media screen and (max-width: 480px) {
  .why-item-icon {
    display: none;
  }
}

.why-item:hover .why-item-icon {
  transform: scale(0);
}

.why-item-text {
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: var(--neutral-surface, #000);
  font-family: "Manrope";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
  max-width: 262px;
  width: 100%;
  transform: translateY(120px);
  transition: transform 900ms ease-in-out;
}
@media screen and (max-width: 480px) {
  .why-item-text {
    transform: unset;
    color: #fff;
  }
}

.why-item:hover .why-item-text {
  transform: translateY(0);
}

.work {
  margin-top: clamp(120px, 8vw, 170px);
  padding-top: 90px;
}

.work-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.work-title {
  color: #F2F2F2;
  text-align: center;
  /* h2 */
  font-family: "DM Sans";
  font-size: clamp(40px, 4vw, 56px);
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 61.6px */
}

.work-suptitle {
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  padding: 24px 0;
  /* h3 */
  font-family: "Manrope";
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 39.2px */
  border: 0px;
  border-bottom: 1px solid #262626;
  max-width: 866px;
  width: 100%;
}

.work-text {
  max-width: 866px;
  width: 100%;
  color: var(--neutral-grey-dark, #A1A1A1);
  text-align: center;
  /* body */
  font-family: "Manrope";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}

.contacts {
  margin-top: clamp(120px, 10vw, 260px);
}

.contacts-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(90deg, #7A14C5, #4B83B5);
  border-radius: 16px;
}
@media screen and (max-width: 480px) {
  .contacts-inner {
    padding: 24px;
  }
}

.contacts-title {
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  /* H1 */
  font-family: "DM Sans";
  font-size: clamp(48px, 5vw, 88px);
  font-style: normal;
  font-weight: 600;
  line-height: 90%; /* 79.2px */
  max-width: 866px;
  width: 100%;
}

.contacts-text {
  max-width: 866px;
  width: 100%;
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  font-family: "Manrope";
  font-size: clamp(24px, 2vw, 28px);
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 39.2px */
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--primary-brand-violet, #49009E);
  /* buttons */
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  border-radius: 100px;
  background: var(--neutral-white, #F2F2F2);
  border: none;
  padding: 16px 32px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
@media screen and (max-width: 480px) {
  .button {
    width: 100%;
  }
}

.button:hover {
  background: #00DE9D;
  color: #000;
}

.button:hover svg path {
  stroke: #000;
}

.button:active {
  background: #F2F2F2;
  color: #49009E;
}

.button:active svg path {
  stroke: #49009E;
}

.footer {
  margin-top: clamp(120px, 10vw, 260px);
  background: var(--neutral-card, #0D0D0D);
  padding: 29px 0 24px 0;
}

.footer-inner {
  display: flex;
  align-items: stretch;
}
@media screen and (max-width: 480px) {
  .footer-inner {
    display: none;
  }
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 76px;
  width: 50%;
}
@media screen and (max-width: 480px) {
  .footer-left {
    width: 100%;
  }
}

.footer-img {
  padding-bottom: 32px;
  border-bottom: 1px solid #656565;
  width: 98%;
}

.footer-info p {
  color: var(--neutral-grey-dark, #A1A1A1);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.footer-copyright {
  width: 98%;
  border-top: 1px solid #656565;
  padding-top: 24px;
  color: var(--neutral-grey-title, #656565);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.footer-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 76px;
  border-left: 1px solid #656565;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 13px;
  width: 98%;
  border-bottom: 1px solid #656565;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.footer-menu a {
  color: var(--neutral-grey-dark, #A1A1A1);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  text-decoration: none;
}

.footer-top {
  position: relative;
  background: transparent;
  border-radius: 100px;
  border: 1px solid var(--neutral-grey-border, #262626);
  display: flex;
  width: 48px;
  height: 48px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 0;
  transition: all 400ms ease-in-out;
}

.footer-top::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: #00DE9D; /* колір світіння */
  filter: blur(12px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.footer-top:hover {
  border: 1px solid transparent;
}

.footer-top:hover::after {
  opacity: 0.7; /* показуємо glow */
}

.footer-mail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 98%;
}

.footer-sup {
  color: var(--neutral-white, #F2F2F2);
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  margin-bottom: 13px;
}

.footer-email {
  color: var(--primary-brand-mint, #00DE9D);
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 32px */
}

.footer-policy {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-top: 1px solid #656565;
  width: 98%;
  gap: 12px;
}

.footer-policy a {
  text-decoration: none;
  color: var(--neutral-grey-title, #656565);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding-top: 24px;
}

.footer-mobile {
  display: none;
}
@media screen and (max-width: 480px) {
  .footer-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 29px;
  }
}

.footer-menu-mobile {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 29px 0;
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
}

.footer-menu-mobile a {
  color: var(--neutral-grey-dark, #A1A1A1);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  text-decoration: none;
}

.footer-mail-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%;
}

.footer-info-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 310px;
  width: 100%;
  text-align: center;
}

.footer-info-mobile p {
  color: var(--neutral-grey-dark, #A1A1A1);
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.footer-policy-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #656565;
  width: 98%;
  gap: 12px;
}

.footer-policy-mobile a {
  text-decoration: none;
  color: var(--neutral-grey-title, #656565);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  padding-top: 24px;
}

.footer-copyright-mobile {
  text-align: center;
  color: var(--neutral-grey-title, #656565);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.privacy {
  margin-top: 140px;
}

.privacy .container {
  max-width: 917px;
}

.privacy h1 {
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  font-family: "DM Sans";
  font-size: clamp(40px, 4vw, 56px);
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 61.6px */
}

.privacy-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
}

.privacy-item h2 {
  color: var(--neutral-white, #F2F2F2);
  font-family: "Manrope";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 33.6px */
  border-bottom: 1px solid #262626;
  padding-bottom: 24px;
}

.privacy-item p {
  color: var(--neutral-grey-dark, #A1A1A1);
  font-family: "Manrope";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}

.privacy-item span {
  color: var(--neutral-white, #F2F2F2);
  font-family: "Manrope";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.terms {
  margin-top: 140px;
}

.terms .container {
  max-width: 917px;
}

.terms-title {
  color: var(--neutral-white, #F2F2F2);
  text-align: center;
  font-family: "DM Sans";
  font-size: clamp(40px, 4vw, 56px);
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 61.6px */
  margin-bottom: 48px;
}

.terms span {
  color: var(--neutral-white, #F2F2F2);
  font-family: "Manrope";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.terms p {
  color: var(--neutral-grey-dark, #A1A1A1);
  font-family: "Manrope";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 30.8px */
}

.terms a {
  color: var(--neutral-white, #F2F2F2);
  font-family: "Manrope";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}/*# sourceMappingURL=main.css.map */